body {

    background-color: beige;
}

h1 {
    border-color: black;
    border-style: solid;
    background-color: green;
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
}

.flex-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: dodgerblue;
    justify-items: start;
}

.flex-container>div {
    border-radius: 20%;
    background-color: #f1f1f1;
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}

div.question {
    border-color: black;
    border-style: solid;
    border-radius: 20%;
    width: 200px;
    height: 200px;

    align-items: center;
    background-color: bisque;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
}

.img_question {
    /* width: 400px; */
    margin: 50 50 0 0;
}


.grid-container {
    width: 50%;
    height: 250px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'item11 item12 item13'
        'item14 item15 item16'

        'item21 item22 item23'
        'item24 item25 item26'

        'item31 item32 item33'
        'item34 item35 item36'
    ;
    gap: 20px;
    background-color: #2196F3;
    padding: 10px;
    justify-items: center;

}

.grid-container>div {
    width: 50%;
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;

}

.grid-container>div>img {
    width: 100px;
}

.grid-container>div :hover {
    background-color: pink;
    border-radius: 30%;
}

.grid-container>div :active {
    background-color: orange;
    border-radius: 30%;
}

.buttons {
    width: 50%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#next {
    background-color: darkorange;
}    

.btn {
    background-color: blue;
    font-size: 15px;
    color: white;
    width: 100px;
    margin: 0 20px;
}

#new {
    background-color: red;
    color: white;
}


.informations {
    display:flex;
    justify-content: center;
    width: 40%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: orange;
    font-size: 30px;
}

.informations>div {
    background-color: yellow;
    margin: 0 20px;
}

/* per non far vedere test02 e test03 all'inizio del gioco */
.test02,
.test03 {
    display: none;
}