body {

    background-color: beige;
}

h1 {
    border-color: black;
    border-style: solid;
    background-color: green;
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
}

.flex-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: dodgerblue;
    justify-items: start;
}

.flex-container>div {
    border-radius: 20%;
    background-color: #f1f1f1;
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}

div.question {
    border-color: black;
    border-style: solid;
    border-radius: 20%;
    width: 200px;
    height: 200px;

    align-items: center;
    background-color: bisque;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
}

.img_question {
    /* width: 400px; */
    margin: 50 50 0 0;
}


.grid-container {
    width: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'item11 item12'
        'item13 item14'
        'item15 item16'

        'item21 item22'
        'item23 item24'
        'item25 item26'

        'item31 item32'
        'item33 item34'
        'item35 item36'
    ;
    gap: 20px;
    background-color: #2196F3;
    padding: 10px;
    align-items: end;
}

.grid-container>div {
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.grid-container>div :hover {
    background-color: pink;
    border-radius: 30%;
}

.grid-container>div :active {
    background-color: orange;
    border-radius: 30%;
}

.buttons {
    width: 50%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.test02,
.test03 {
    display: none;
}

.buttons {
    width: 40%;
    background-color: aqua;
    padding: 20px;

}

.btn {
    background-color: blue;
    padding: 20px;
    font-size: 30px;
    color: white;
    width: 200px;
    margin: 0 20px;
}

#next {
    background-color: darkorange;
}

.points {
    width: 40%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: orange;
    font-size: 60px;
}